@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body {
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: backgroundColorPalette;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
h1{
    margin-top: 25px;
}
#draw:active {
  box-shadow: none;
  transform: translateY(5px);
}
@keyframes backgroundColorPalette {
  0% {
    background: #00a85a;
  }
  25% {
    background: #00ca5b;
  }
  50% {
    background: #00e28b;
  }
  75% {
    background: #fc8423;
  }
  100% {
    background: #5c8bf0;
  }
}
#container {
  width: 350px;
  height: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#draw {
  margin-top: 10px;
  padding: 13px 25px;
  border: none;
  background-color: burlywood;
  border-radius: 10px;
  box-shadow: 0px 9px 0px brown;
  transition: all 100ms ease-in;
}
#pokemon-container {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-img {
  width: 150px;
  height: 150px;
}
